# 先忽略全部，再按需放行
*
!*/

# 仓库基础文件
!.gitignore
!.mxproject
!*.ioc

# STM32 工程源码
!/Core/
!/Core/**
!/Drivers/
!/Drivers/**
!/Hardware/
!/Hardware/**

# Keil 工程：默认忽略 MDK-ARM，再放行必要项目文件
!/MDK-ARM/
/MDK-ARM/*
!/MDK-ARM/*.uvprojx
!/MDK-ARM/*.s
!/MDK-ARM/DebugConfig/
!/MDK-ARM/DebugConfig/*.dbgconf
!/MDK-ARM/RTE/
!/MDK-ARM/RTE/**
!/MDK-ARM/MPU6600/
!/MDK-ARM/MPU6600/*.sct

# Keil/构建产物与本地临时文件
*.uvguix.*
*.uvoptx
*.bak
*.tmp
*.log
*.lock
*.o
*.d
*.crf
*.axf
*.hex
*.map
*.lst
*.dep
*.lnp
*.htm
*.html

# IDE 本地配置
.vscode/
